@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
}

.wrapper {
  position: relative;
  max-width: 500px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.wrapper h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 24px;
  border-radius: 12px;
  background: #4070f4;
}

.wrapper #loginForm {
  margin-top: 30px;
}

.wrapper #loginForm .input-box {
  margin: 15px 0;
}

#loginForm .input-box label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
}

#loginForm .input-box input,
#loginForm .input-box select,
#loginForm .input-box file {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  border: 1.5px solid #C7BEBE;
  border-radius: 6px;
  margin-top: 5px;
  transition: all 0.3s ease;
}

#loginForm .input-box input:focus,
#loginForm .input-box select:focus,
#loginForm .input-box file:focus {
  border-color: #4070f4;
}

#loginForm .policy {
  display: flex;
  align-items: center;
}

#loginForm .policy label {
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  color: #707070;
}

.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}

.input-box.button input:hover {
  background: #0e4bf1;
}

#loginForm .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}

#loginForm .text h3 a {
  color: #4070f4;
  text-decoration: none;
}

#loginForm .text h3 a:hover {
  text-decoration: underline;
}

small {
  font-size: 12px;
  color: #707070;
}

h3{
    font-size: 18px;
    font-weight: bold;
}

#panda{
    text-align: center;
    font-size: 18px;
}